<div class="react-container">
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <fieldset formGroupName="user">
      <mat-form-field class="example-full-width">
        <mat-label>User Name</mat-label>
        <input
          #user
          matInput
          formControlName="userName"
          placeholder="You Nick"
        />
      </mat-form-field>

      <div
        class="field-err"
        *ngIf="reactiveForm.controls.user.controls.userName.invalid
                && (reactiveForm.controls.user.controls.userName.dirty
                || reactiveForm.controls.user.controls.userName.touched)"
      >
        wrong symbol
      </div>

      <mat-form-field class="example-full-width">
        <mat-label>First Name</mat-label>
        <input #user matInput formControlName="firstName" placeholder="Ivan" />
      </mat-form-field>
      <div
        class="field-err"
        *ngIf="reactiveForm.controls.user.controls.firstName.invalid
              && (reactiveForm.controls.user.controls.firstName.dirty
              || reactiveForm.controls.user.controls.firstName.touched)"
      >
        wrong symbol
      </div>

      <mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input #user matInput formControlName="lastName" placeholder="Ivanov" />
      </mat-form-field>
      <div
        class="field-err"
        *ngIf="reactiveForm.controls.user.controls.lastName.invalid
              && (reactiveForm.controls.user.controls.lastName.dirty
              || reactiveForm.controls.user.controls.lastName.touched)"
      >
        wrong symbol
      </div>
    </fieldset>

    <mat-form-field class="example-full-width, mail-field">
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        placeholder="Ex. pat@example.com"
      />
      <mat-error class="field-err" *ngIf="reactiveForm.controls.email.errors">
        Enter a valid email address
      </mat-error>
    </mat-form-field>

    <fieldset formGroupName="pass">
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          formControlName="password"
          placeholder="Enter password"
        />
      </mat-form-field>

      <div *ngIf="passChild.controls.password.dirty">
        <div
          class="field-err"
          *ngIf="passChild.controls.password.errors?.minlength"
        >
          Password must be at least 10 characters
        </div>
      </div>
      <br />

      <mat-form-field class="example-full-width">
        <mat-label>Repeat Password</mat-label>
        <input
          type="password"
          matInput
          formControlName="repeatPass"
          placeholder="Confirm password"
        />
      </mat-form-field>
      <div *ngIf="passChild.controls.repeatPass.dirty">
        <div
          class="field-err"
          *ngIf="passChild.controls.repeatPass.errors?.incorrect"
        >
          Password no Matc
        </div>
      </div>
    </fieldset>
    <br />

    <mat-radio-group formControlName="sex" class="example-radio-group">
      <mat-radio-button value="Male">Male</mat-radio-button>
      <mat-radio-button value="Female">Female</mat-radio-button>
    </mat-radio-group>
    <br />

    <mat-form-field class="region">
      <mat-label>Select region</mat-label>
      <mat-select formControlName="region">
        <mat-option *ngFor="let region of regions" [value]="region.name">
          {{region.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <input type="checkbox" formControlName="sendEmail" />
    <span>Send me email</span>
    <br />
    <!-- <button (click)="consol()">!!!!!!!!</button> -->

    <button class="btn-form" type="submit" [disabled]="!reactiveForm.valid">
      Submit
    </button>
  </form>
</div>
