/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(75, 116, 165);
}

.active {
  color: white;
  /* background-color: rgb(1, 83, 5); */
}

.head {
  display: flex;
  width: 500px;
  justify-content: space-around;
  padding-right: 50px;
  margin: 0 0 30px 100px;
}
.head a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(33, 165, 206);
  /* color: #000; */
}

.btn-form {
  margin: 20px 0 0 20px;
  position: relative;
  display: inline-block;
  width: 10em;
  height: 2.5em;
  line-height: 2.5em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #777;
  color: #fff;
  outline: none;
  border: 2px solid #792bf6;
  border-radius: 5px;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset,
    0.1em 0.1em 0.2em rgb(2, 0, 136);
  background: linear-gradient(#8275fb, #5438f4 48%, #3402ea 52%, #3f17f0);
}
.btn-form:active {
  top: 0.1em;
  left: 0.1em;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0.05) inset;
}

.btn-form:disabled {
  background: linear-gradient(#8275fb, #6850f3 48%, #461be4 52%, #512dee);
  color: #777;
}

.not-found {
  padding-left: 150px;
  font-weight: 900;
  margin-top: 100px;
  font-size: 2em;
  color: rgb(73, 1, 1);
}
